<p align="right"><span style="padding-right: 25px">Zalgowany jako <span style="color: #ff0000; font-weight: bold"><TMPL_VAR NAME=USER></span></span></p>
<div class="menu">
<a href="kewladmin.pl">Index</a> | 
<a href="kewladmin.pl?action=passwd">Zmieñ has³o</a> |
<TMPL_IF NAME=HAS_DOMAIN><a href="kewladmin.pl?action=domain">Domeny</a> |</TMPL_IF>
<a href="kewladmin.pl?action=logout">Wyloguj</a>
</div><br />
